<dialog id="modal-detail-directory" class="modal medium-width padding">
    <nav class="small-padding bottom-margin">
        <h5 class="max bold">ディレクトリ詳細</h5>
        <button class="circle transparent" onclick="App.modals.directoryDetail.close()">
            <i>close</i>
        </button>
    </nav>

    <div class="small-padding">
        <div class="field border large label bottom-margin">
            <input placeholder=" " type="text" id="directory-detail-name-input">
            <label>組織名</label>
        </div>

        <div class="field border large suffix no-wrap label bottom-margin">
            <select id="directory-detail-type-select"></select>
            <label>種別</label>
            <i>arrow_drop_down</i>
        </div>

        <div class="field border large suffix no-wrap label bottom-margin">
            <select id="directory-detail-parent-select"></select>
            <label>親組織</label>
            <i>arrow_drop_down</i>
        </div>

        <div class="field border large label bottom-margin">
            <input placeholder=" " type="url" id="directory-detail-slack-url-input">
            <label>SlackチャンネルURL</label>
        </div>

        <div class="field border large label bottom-margin">
            <input placeholder=" " type="text" id="directory-detail-gfolder-id-input">
            <label>Google DriveフォルダID</label>
        </div>

        <label class="row padding no-margin bottom-margin">
            <input type="checkbox" id="directory-detail-is-active-input">
            <span>有効</span>
        </label>

        <div class="field border large label bottom-margin">
            <textarea placeholder=" " id="directory-detail-remark-input" rows="2"></textarea>
            <label>備考</label>
        </div>

        <div class="background small-round padding bottom-margin">
            <p id="directory-detail-id" class="font-number small-text no-margin"></p>
            <p id="directory-detail-member-count" class="small-text no-margin"></p>
            <div id="directory-detail-members" class="row wrap tiny-space top-margin"></div>
        </div>

        <p id="directory-detail-error" class="error-text small-text" style="display: none;"></p>

        <nav class="right-align top-margin">
            <button class="border" onclick="App.modals.directoryDetail.close()">
                <span>閉じる</span>
            </button>
            <button class="primary" onclick="App.modals.directoryDetail.save()">
                <span>保存</span>
            </button>
        </nav>
    </div>
</dialog>

