<header class="fixed">
    <nav>

        <h5 class="max" id="header-title-default">ZARMS 2026</h5>
        <h5 class="max" id="header-title-detail-header" style="display: none;"></h5>

        <div class="field round border prefix min" id="id-search-container">
            <input type="text" id="id-search-input" placeholder="ID検索" onkeydown="handleIdSearchKeydown(event)"
                oninput="handleIdSearchInput(event)" onfocus="handleIdSearchFocus(event)"
                onblur="handleIdSearchBlur(event)">
            <menu id="id-search-menu" class="min"></menu>
            <button class="transparent circle" id="id-search-button" onclick="handleIdSearchClick()">
                <i>search</i>
            </button>
        </div>
    </nav>
</header>