<nav class="left">

    <button id="new-button" class="circle">
        <i>add</i>
        <menu id="new-button-dropdown" class="no-wrap left">
            <a onclick="openNewCreativeModal();">制作物</a>
            <a onclick="openNewPlanModal();">企画</a>
            <a id="new-member-dropdown-item" style="display: none;" onclick="openNewMemberModal();">メンバー</a>
            <a onclick="openNewKnowledgeModal();">ナレッジ</a>
        </menu>
    </button>

    <button id="header-close-btn" class="circle transparent" onclick="handleHeaderCloseClick()" style="display: none;">
        <i>close</i>
    </button>

    <a id="home-nav" class="active" onclick="switchTab('home')">
        <i>home</i>
        <div>ホーム</div>
    </a>
    <a id="creatives-nav" onclick="switchTab('creatives')">
        <i>assignment</i>
        <div>制作物</div>
    </a>
    <a id="plans-nav" onclick="switchTab('plans')">
        <i>folder</i>
        <div>企画</div>
    </a>
    <a id="tasks-nav" onclick="switchTab('tasks')">
        <i>check_circle</i>
        <div>タスク</div>
    </a>
    <a id="members-nav" onclick="switchTab('members')">
        <i>people</i>
        <div>メンバー</div>
    </a>
    <a id="knowledges-nav" onclick="switchTab('knowledges')">
        <i>lightbulb</i>
        <div>ナレッジ</div>
    </a>
    <a id="summary-nav" onclick="switchTab('summary')">
        <i>analytics</i>
        <div>統計</div>
    </a>

    <div class="divider"></div>

    <div id="sidebar-project-detail" style="display: none; padding: 1rem;">
        <article class="no-padding transparent">
            <div class="field middle-align">
                <label>案件タイトル</label>
                <div id="sidebar-project-title"></div>
            </div>
            <div class="field middle-align">
                <label>制作タイトル</label>
                <div id="sidebar-work-title"></div>
            </div>
            <div class="field middle-align">
                <label>制作物種別</label>
                <div id="sidebar-work-type"></div>
            </div>
            <div class="field middle-align">
                <label>依頼受付優先度</label>
                <div id="sidebar-priority"></div>
            </div>
            <div class="divider"></div>
            <div class="field middle-align">
                <label>依頼者</label>
                <div id="sidebar-client"></div>
            </div>
            <div class="field middle-align">
                <label>担当者</label>
                <button id="sidebar-add-assignee-btn" class="content-button small-button">+追加</button>
                <div id="sidebar-assignees"></div>
            </div>
        </article>
    </div>
</nav>