<nav id="left-nav" class="m l left no-wrap min">
    <header>
        <div class="row">
            <button class="extra circle transparent" title="ナビゲーションを開閉"
                onclick="App.utils.navigation.toggleLeftNavSize(event)">
                <i>dock_to_right</i>
            </button>
            <div id="h1-content" style="display: none;">
                <h1 class="font-title" style="font-size: 1.75rem;">ZARMS</h1>
            </div>
        </div>
    </header>

    <a id="home-nav" onclick="App.utils.navigation.switchTab('home')" title="ホーム">
        <i>home</i>
        <span>ホーム</span>
    </a>
    <a id="catalog-nav" onclick="App.utils.navigation.switchTab('catalog')" title="一覧">
        <i>book_2</i>
        <span>一覧</span>
    </a>
    <a id="calendar-nav" onclick="App.utils.navigation.switchTab('calendar')" title="予定">
        <i>calendar_month</i>
        <span>予定</span>
    </a>
    <a id="boards-nav" onclick="App.utils.navigation.switchTab('boards')" title="ボード">
        <i>folder</i>
        <span>ボード</span>
    </a>
    <a id="my-board-nav" onclick="App.utils.navigation.switchTab('board-my-board')" title="タスク(マイボード)">
        <i>assignment</i>
        <span>タスク</span>
    </a>

    <div id="boards-hover-anchor"></div>
    <hr class="small-margin" style="display: none;">
    <nav id="board-nav" class="scroll bottom-margin no-padding left max" style="display: none;">
    </nav>
</nav>

