<nav id="left-nav" class="m l left no-wrap max">
    <header>
        <div class="row">
            <button class="extra circle transparent" title="ナビゲーションを開閉"
                onclick="App.utils.navigation.toggleLeftNavSize(event)">
                <i>dock_to_right</i>
            </button>
            <div id="h1-content">
                <h1 class="font-title" style="font-size: 1.75rem;">ZARMS</h1>
            </div>
        </div>
    </header>

    <a id="home-nav" onclick="App.utils.navigation.switchTab('home')">
        <i>home</i>
        <span>ホーム</span>
        <div class="tooltip right" style="display: none;">ホーム</div>
    </a>
    <a id="members-nav" onclick="App.utils.navigation.switchTab('members')">
        <i>groups</i>
        <span>メンバー</span>
        <div class="tooltip right" style="display: none;">メンバー</div>
    </a>
    <a id="calendar-nav" onclick="App.utils.navigation.switchTab('calendar')">
        <i>calendar_month</i>
        <span>カレンダー</span>
        <div class="tooltip right" style="display: none;">カレンダー</div>
    </a>
    <a id="my-board-nav" onclick="App.utils.navigation.switchTab('board-my-board')">
        <i>assignment</i>
        <span>マイボード</span>
        <div class="tooltip right" style="display: none;">マイボード</div>
    </a>

    <div id="boards-hover-anchor"></div>
    <hr class="small-margin">
    <nav id="boards-nav" class="scroll bottom-margin no-padding left max">
    </nav>
</nav>

