<nav class="m l right no-wrap min surface">

    <button id="events-nav" class="circle transparent middle" onclick="App.utils.navigation.switchTab('events')">
        <i>calendar_month</i>
    </button>
    <button id="knowledges-nav" class="circle transparent middle" onclick="App.utils.navigation.switchTab('knowledges')">
        <i>lightbulb_2</i>
    </button>
    <button id="tasks-nav" class="circle transparent middle" onclick="App.utils.navigation.switchTab('tasks')">
        <i>task_alt</i>
    </button>
    <button id="members-nav" class="circle transparent middle" onclick="App.utils.navigation.switchTab('plans')">
        <i>groups</i>
    </button>
</nav>