<nav class="m l right no-wrap no-margin right-margin min surface">
    <header>
        <button class="circle extra transparent">
            <i>apps</i>
            <menu class="left no-wrap padding">
                <div class="grid no-space">
                    <div class="s4 center-align">
                        <a class="button transparent circle large" href="https://github.com/teppgreen/zarms">
                            <i>link</i>
                        </a>
                    </div>
                    <div class="s4 center-align">
                        <a class="button transparent circle large" href="https://github.com/teppgreen/zarms">
                            <i>link</i>
                        </a>
                    </div>
                    <div class="s4 center-align">
                        <a class="button transparent circle large" href="https://github.com/teppgreen/zarms">
                            <i>link</i>
                        </a>
                    </div>
                    <div class="s4 center-align">
                        <a class="button transparent circle large" href="https://github.com/teppgreen/zarms">
                            <i>link</i>
                        </a>
                    </div>
                    <div class="s4 center-align">
                        <a class="button transparent circle large" href="https://github.com/teppgreen/zarms">
                            <i>link</i>
                        </a>
                    </div>
                </div>
            </menu>
        </button>
    </header>

    <button id="events-nav" class="right-round transparent" onclick="App.utils.navigation.switchTab('events')">
        <i>calendar_month</i>
    </button>
    <button id="knowledges-nav" class="right-round transparent" onclick="App.utils.navigation.switchTab('knowledges')">
        <i>lightbulb</i>
    </button>
    <button id="tasks-nav" class="right-round transparent" onclick="App.utils.navigation.switchTab('tasks')">
        <i>task_alt</i>
    </button>
    <button id="members-nav" class="right-round transparent" onclick="App.utils.navigation.switchTab('plans')">
        <i>groups</i>
    </button>
</nav>