<dialog id="modal-new-plan" class="modal">
    <h5 class="bold">新規企画作成</h5>
    <form id="new-plan-form" onsubmit="submitNewPlan(event)">
        <div class="modal-content">
            <div class="field label border">
                <input type="text" name="title" required>
                <label>企画タイトル</label>
            </div>
        </div>
        <nav class="right-align">
            <button class="border" type="button" onclick="closeModal('modal-new-plan')">キャンセル</button>
            <button type="submit">作成</button>
        </nav>
        <div class="modal-result-content" style="display: none;"></div>
    </form>
</dialog>