<dialog id="modal-new-task" class="modal">
    <h5 class="bold">新規タスク作成</h5>
    <form id="new-task-form" onsubmit="submitNewTask(event)">
        <div class="modal-content">
            <input type="hidden" name="creative_id">
            <div class="field label border">
                <input type="text" name="task_title" required>
                <label>タスク名</label>
            </div>
            <div class="field label border">
                <select name="assign_to"></select>
                <label>担当者</label>
                <i>arrow_drop_down</i>
            </div>
            <div class="field label border">
                <select name="status_key"></select>
                <label>ステータス</label>
                <i>arrow_drop_down</i>
            </div>
            <div class="field label border">
                <select name="priority_key"></select>
                <label>優先度</label>
                <i>arrow_drop_down</i>
            </div>
            <div class="field label border">
                <input type="datetime-local" name="planned_end_datetime">
                <label>終了予定日</label>
            </div>
        </div>
        <nav class="right-align">
            <button class="border" type="button" onclick="closeModal('modal-new-task')">キャンセル</button>
            <button type="submit">作成</button>
        </nav>
        <div class="modal-result-content" style="display: none;"></div>
    </form>
</dialog>