<dialog id="modal-new-member" class="modal">
    <h5 class="bold">新規メンバー登録</h5>
    <form id="new-member-form" onsubmit="submitNewMember(event)">
        <div class="modal-content">
            <div class="field label border">
                <input type="email" name="member_email" required>
                <label>メールアドレス <span class="error-text">*</span></label>
            </div>
            <div class="field label border">
                <input type="text" name="member_name" required>
                <label>名前 <span class="error-text">*</span></label>
            </div>
            <div class="field label border">
                <input type="text" name="slack_member_id">
                <label>SlackメンバーID</label>
            </div>
            <div class="field label border">
                <input type="url" name="member_icon">
                <label>アイコンURL</label>
            </div>
            <div class="field label border">
                <select name="member_team_key" required></select>
                <label>チーム <span class="error-text">*</span></label>
                <i>arrow_drop_down</i>
            </div>
            <div class="field label border">
                <select name="role_key" required></select>
                <label>権限 <span class="error-text">*</span></label>
                <i>arrow_drop_down</i>
            </div>
            <div class="field label border">
                <textarea name="member_notes" rows="4"></textarea>
                <label>備考</label>
            </div>
        </div>
        <nav class="right-align">
            <button class="border" type="button" onclick="closeModal('modal-new-member')">キャンセル</button>
            <button type="submit">登録</button>
        </nav>
        <div class="modal-result-content" style="display: none;"></div>
    </form>
</dialog>