<div id="modal-new-plan" class="modal">
    <div class="modal-content">
        <div class="modal-form-content">
            <h2 class="modal-title">新規企画作成</h2>
            <form id="new-plan-form" onsubmit="submitNewPlan(event)">
                <div class="form-group">
                    <label class="form-label">企画タイトル</label>
                    <input type="text" name="title" class="input-field" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cancel"
                        onclick="closeModal('modal-new-plan')">キャンセル</button>
                    <button type="submit" class="btn btn-primary">作成</button>
                </div>
            </form>
        </div>
        <div class="modal-result-content" style="display: none;">
        </div>
    </div>
</div>